# coding: utf-8

"""
    JumpCloud APIs

    V1 & V2 versions of JumpCloud's API. The previous version of JumpCloud's API. This set of endpoints allows JumpCloud customers to manage commands, systems, & system users.

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class CommandTriggersApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def command_trigger_webhook_post(self, triggername, content_type, accept, **kwargs):
        """
        Launch a command via a Trigger
        ### Examples  ##### Launch a Command via a Trigger  ``` curl --silent \\      -X 'POST' \\      -H \"x-api-key: [YOUR_API_KEY_HERE]\" \\      \"https://console.jumpcloud.com/api/command/trigger/[TRIGGER_NAME_HERE]\" ``` ##### Launch a Command via a Trigger passing a JSON object to the command ``` curl --silent \\      -X 'POST' \\      -H \"x-api-key: [YOUR_API_KEY_HERE]\" \\      -H 'Accept: application/json' \\      -d '{ \"srcip\":\"192.168.2.32\", \"attack\":\"Cross Site Scripting Attempt\" }' \\      \"https://console.jumpcloud.com/api/command/trigger/[TRIGGER_NAME_HERE]\" ```
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.command_trigger_webhook_post(triggername, content_type, accept, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str triggername: (required)
        :param str content_type: (required)
        :param str accept: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.command_trigger_webhook_post_with_http_info(triggername, content_type, accept, **kwargs)
        else:
            (data) = self.command_trigger_webhook_post_with_http_info(triggername, content_type, accept, **kwargs)
            return data

    def command_trigger_webhook_post_with_http_info(self, triggername, content_type, accept, **kwargs):
        """
        Launch a command via a Trigger
        ### Examples  ##### Launch a Command via a Trigger  ``` curl --silent \\      -X 'POST' \\      -H \"x-api-key: [YOUR_API_KEY_HERE]\" \\      \"https://console.jumpcloud.com/api/command/trigger/[TRIGGER_NAME_HERE]\" ``` ##### Launch a Command via a Trigger passing a JSON object to the command ``` curl --silent \\      -X 'POST' \\      -H \"x-api-key: [YOUR_API_KEY_HERE]\" \\      -H 'Accept: application/json' \\      -d '{ \"srcip\":\"192.168.2.32\", \"attack\":\"Cross Site Scripting Attempt\" }' \\      \"https://console.jumpcloud.com/api/command/trigger/[TRIGGER_NAME_HERE]\" ```
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.command_trigger_webhook_post_with_http_info(triggername, content_type, accept, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str triggername: (required)
        :param str content_type: (required)
        :param str accept: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['triggername', 'content_type', 'accept']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method command_trigger_webhook_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'triggername' is set
        if ('triggername' not in params) or (params['triggername'] is None):
            raise ValueError("Missing the required parameter `triggername` when calling `command_trigger_webhook_post`")
        # verify the required parameter 'content_type' is set
        if ('content_type' not in params) or (params['content_type'] is None):
            raise ValueError("Missing the required parameter `content_type` when calling `command_trigger_webhook_post`")
        # verify the required parameter 'accept' is set
        if ('accept' not in params) or (params['accept'] is None):
            raise ValueError("Missing the required parameter `accept` when calling `command_trigger_webhook_post`")


        collection_formats = {}

        path_params = {}
        if 'triggername' in params:
            path_params['triggername'] = params['triggername']

        query_params = []

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']
        if 'accept' in params:
            header_params['Accept'] = params['accept']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json; charset=utf-8'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['x-api-key']

        return self.api_client.call_api('/command/trigger/{triggername}', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
