# coding: utf-8

"""
    JumpCloud APIs

    V1 & V2 versions of JumpCloud's API. The next version of JumpCloud's API. This set of endpoints allows JumpCloud customers to manage objects, groupings and mappings. The most recent version of JumpCloud's API. This set of endpoints allows JumpCloud customers to manage objects, groupings and mappings.

    OpenAPI spec version: 2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class SambaDomainsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def ldapservers_samba_domains_delete(self, ldapserver_id, id, **kwargs):
        """
        Delete Samba Domain
        This endpoint allows you to delete a samba domain from an LDAP server.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ldapservers_samba_domains_delete(ldapserver_id, id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str id: Unique identifier of the samba domain. (required)
        :param str content_type:
        :param str accept:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.ldapservers_samba_domains_delete_with_http_info(ldapserver_id, id, **kwargs)
        else:
            (data) = self.ldapservers_samba_domains_delete_with_http_info(ldapserver_id, id, **kwargs)
            return data

    def ldapservers_samba_domains_delete_with_http_info(self, ldapserver_id, id, **kwargs):
        """
        Delete Samba Domain
        This endpoint allows you to delete a samba domain from an LDAP server.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ldapservers_samba_domains_delete_with_http_info(ldapserver_id, id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str id: Unique identifier of the samba domain. (required)
        :param str content_type:
        :param str accept:
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ldapserver_id', 'id', 'content_type', 'accept']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ldapservers_samba_domains_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ldapserver_id' is set
        if ('ldapserver_id' not in params) or (params['ldapserver_id'] is None):
            raise ValueError("Missing the required parameter `ldapserver_id` when calling `ldapservers_samba_domains_delete`")
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `ldapservers_samba_domains_delete`")


        collection_formats = {}

        path_params = {}
        if 'ldapserver_id' in params:
            path_params['ldapserver_id'] = params['ldapserver_id']
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']
        if 'accept' in params:
            header_params['Accept'] = params['accept']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['x-api-key']

        return self.api_client.call_api('/ldapservers/{ldapserver_id}/sambadomains/{id}', 'DELETE',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='str',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def ldapservers_samba_domains_get(self, ldapserver_id, id, **kwargs):
        """
        Get Samba Domain
        This endpoint returns a specific samba domain for an LDAP server.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ldapservers_samba_domains_get(ldapserver_id, id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str id: Unique identifier of the samba domain. (required)
        :param str content_type:
        :param str accept:
        :return: SambaDomainOutput
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.ldapservers_samba_domains_get_with_http_info(ldapserver_id, id, **kwargs)
        else:
            (data) = self.ldapservers_samba_domains_get_with_http_info(ldapserver_id, id, **kwargs)
            return data

    def ldapservers_samba_domains_get_with_http_info(self, ldapserver_id, id, **kwargs):
        """
        Get Samba Domain
        This endpoint returns a specific samba domain for an LDAP server.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ldapservers_samba_domains_get_with_http_info(ldapserver_id, id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str id: Unique identifier of the samba domain. (required)
        :param str content_type:
        :param str accept:
        :return: SambaDomainOutput
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ldapserver_id', 'id', 'content_type', 'accept']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ldapservers_samba_domains_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ldapserver_id' is set
        if ('ldapserver_id' not in params) or (params['ldapserver_id'] is None):
            raise ValueError("Missing the required parameter `ldapserver_id` when calling `ldapservers_samba_domains_get`")
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `ldapservers_samba_domains_get`")


        collection_formats = {}

        path_params = {}
        if 'ldapserver_id' in params:
            path_params['ldapserver_id'] = params['ldapserver_id']
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']
        if 'accept' in params:
            header_params['Accept'] = params['accept']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['x-api-key']

        return self.api_client.call_api('/ldapservers/{ldapserver_id}/sambadomains/{id}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='SambaDomainOutput',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def ldapservers_samba_domains_list(self, ldapserver_id, **kwargs):
        """
        List Samba Domains
        This endpoint returns all samba domains for an LDAP server.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ldapservers_samba_domains_list(ldapserver_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str content_type:
        :param str accept:
        :param str fields: The comma separated fields included in the returned records. If omitted the default list of fields will be returned. 
        :param str filter: Supported operators are: eq, ne, gt, ge, lt, le, between, search
        :param int limit: The number of records to return at once.
        :param int skip: The offset into the records to return.
        :param str sort: The comma separated fields used to sort the collection. Default sort is ascending, prefix with `-` to sort descending. 
        :return: list[SambaDomainOutput]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.ldapservers_samba_domains_list_with_http_info(ldapserver_id, **kwargs)
        else:
            (data) = self.ldapservers_samba_domains_list_with_http_info(ldapserver_id, **kwargs)
            return data

    def ldapservers_samba_domains_list_with_http_info(self, ldapserver_id, **kwargs):
        """
        List Samba Domains
        This endpoint returns all samba domains for an LDAP server.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ldapservers_samba_domains_list_with_http_info(ldapserver_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str content_type:
        :param str accept:
        :param str fields: The comma separated fields included in the returned records. If omitted the default list of fields will be returned. 
        :param str filter: Supported operators are: eq, ne, gt, ge, lt, le, between, search
        :param int limit: The number of records to return at once.
        :param int skip: The offset into the records to return.
        :param str sort: The comma separated fields used to sort the collection. Default sort is ascending, prefix with `-` to sort descending. 
        :return: list[SambaDomainOutput]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ldapserver_id', 'content_type', 'accept', 'fields', 'filter', 'limit', 'skip', 'sort']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ldapservers_samba_domains_list" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ldapserver_id' is set
        if ('ldapserver_id' not in params) or (params['ldapserver_id'] is None):
            raise ValueError("Missing the required parameter `ldapserver_id` when calling `ldapservers_samba_domains_list`")


        collection_formats = {}

        path_params = {}
        if 'ldapserver_id' in params:
            path_params['ldapserver_id'] = params['ldapserver_id']

        query_params = []
        if 'fields' in params:
            query_params.append(('fields', params['fields']))
        if 'filter' in params:
            query_params.append(('filter', params['filter']))
        if 'limit' in params:
            query_params.append(('limit', params['limit']))
        if 'skip' in params:
            query_params.append(('skip', params['skip']))
        if 'sort' in params:
            query_params.append(('sort', params['sort']))

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']
        if 'accept' in params:
            header_params['Accept'] = params['accept']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['x-api-key']

        return self.api_client.call_api('/ldapservers/{ldapserver_id}/sambadomains', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[SambaDomainOutput]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def ldapservers_samba_domains_post(self, ldapserver_id, **kwargs):
        """
        Create Samba Domain
        This endpoint allows you to create a samba domain for an LDAP server.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ldapservers_samba_domains_post(ldapserver_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param SambaDomainInput body:
        :param str content_type:
        :param str accept:
        :return: SambaDomainOutput
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.ldapservers_samba_domains_post_with_http_info(ldapserver_id, **kwargs)
        else:
            (data) = self.ldapservers_samba_domains_post_with_http_info(ldapserver_id, **kwargs)
            return data

    def ldapservers_samba_domains_post_with_http_info(self, ldapserver_id, **kwargs):
        """
        Create Samba Domain
        This endpoint allows you to create a samba domain for an LDAP server.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ldapservers_samba_domains_post_with_http_info(ldapserver_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param SambaDomainInput body:
        :param str content_type:
        :param str accept:
        :return: SambaDomainOutput
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ldapserver_id', 'body', 'content_type', 'accept']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ldapservers_samba_domains_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ldapserver_id' is set
        if ('ldapserver_id' not in params) or (params['ldapserver_id'] is None):
            raise ValueError("Missing the required parameter `ldapserver_id` when calling `ldapservers_samba_domains_post`")


        collection_formats = {}

        path_params = {}
        if 'ldapserver_id' in params:
            path_params['ldapserver_id'] = params['ldapserver_id']

        query_params = []

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']
        if 'accept' in params:
            header_params['Accept'] = params['accept']

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['x-api-key']

        return self.api_client.call_api('/ldapservers/{ldapserver_id}/sambadomains', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='SambaDomainOutput',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def ldapservers_samba_domains_put(self, ldapserver_id, id, **kwargs):
        """
        Update Samba Domain
        This endpoint allows you to update the samba domain information for an LDAP server.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ldapservers_samba_domains_put(ldapserver_id, id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str id: Unique identifier of the samba domain. (required)
        :param SambaDomainInput body:
        :param str content_type:
        :param str accept:
        :return: SambaDomainOutput
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.ldapservers_samba_domains_put_with_http_info(ldapserver_id, id, **kwargs)
        else:
            (data) = self.ldapservers_samba_domains_put_with_http_info(ldapserver_id, id, **kwargs)
            return data

    def ldapservers_samba_domains_put_with_http_info(self, ldapserver_id, id, **kwargs):
        """
        Update Samba Domain
        This endpoint allows you to update the samba domain information for an LDAP server.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ldapservers_samba_domains_put_with_http_info(ldapserver_id, id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str id: Unique identifier of the samba domain. (required)
        :param SambaDomainInput body:
        :param str content_type:
        :param str accept:
        :return: SambaDomainOutput
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ldapserver_id', 'id', 'body', 'content_type', 'accept']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ldapservers_samba_domains_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ldapserver_id' is set
        if ('ldapserver_id' not in params) or (params['ldapserver_id'] is None):
            raise ValueError("Missing the required parameter `ldapserver_id` when calling `ldapservers_samba_domains_put`")
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `ldapservers_samba_domains_put`")


        collection_formats = {}

        path_params = {}
        if 'ldapserver_id' in params:
            path_params['ldapserver_id'] = params['ldapserver_id']
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']
        if 'accept' in params:
            header_params['Accept'] = params['accept']

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['x-api-key']

        return self.api_client.call_api('/ldapservers/{ldapserver_id}/sambadomains/{id}', 'PUT',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='SambaDomainOutput',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
