# coding: utf-8

"""
    JumpCloud APIs

     JumpCloud's V2 API. This set of endpoints allows JumpCloud customers to manage objects, groupings and mappings and interact with the JumpCloud Graph.  # noqa: E501

    OpenAPI spec version: 2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from jcapiv2.api_client import ApiClient


class SambaDomainsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def ldapservers_samba_domains_delete(self, ldapserver_id, id, **kwargs):  # noqa: E501
        """Delete Samba Domain  # noqa: E501

        This endpoint allows you to delete a samba domain from an LDAP server.  ##### Sample Request ``` curl -X DELETE https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \\   -H 'Accept: application/json' \\   -H 'Content-Type: application/json' \\   -H 'x-api-key: {API_KEY}' ```  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.ldapservers_samba_domains_delete(ldapserver_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str id: Unique identifier of the samba domain. (required)
        :param str content_type:
        :param str accept:
        :param str x_org_id: 
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.ldapservers_samba_domains_delete_with_http_info(ldapserver_id, id, **kwargs)  # noqa: E501
        else:
            (data) = self.ldapservers_samba_domains_delete_with_http_info(ldapserver_id, id, **kwargs)  # noqa: E501
            return data

    def ldapservers_samba_domains_delete_with_http_info(self, ldapserver_id, id, **kwargs):  # noqa: E501
        """Delete Samba Domain  # noqa: E501

        This endpoint allows you to delete a samba domain from an LDAP server.  ##### Sample Request ``` curl -X DELETE https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \\   -H 'Accept: application/json' \\   -H 'Content-Type: application/json' \\   -H 'x-api-key: {API_KEY}' ```  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.ldapservers_samba_domains_delete_with_http_info(ldapserver_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str id: Unique identifier of the samba domain. (required)
        :param str content_type:
        :param str accept:
        :param str x_org_id: 
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ldapserver_id', 'id', 'content_type', 'accept', 'x_org_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ldapservers_samba_domains_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ldapserver_id' is set
        if ('ldapserver_id' not in params or
                params['ldapserver_id'] is None):
            raise ValueError("Missing the required parameter `ldapserver_id` when calling `ldapservers_samba_domains_delete`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `ldapservers_samba_domains_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ldapserver_id' in params:
            path_params['ldapserver_id'] = params['ldapserver_id']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']  # noqa: E501
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'x_org_id' in params:
            header_params['x-org-id'] = params['x_org_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['x-api-key']  # noqa: E501

        return self.api_client.call_api(
            '/ldapservers/{ldapserver_id}/sambadomains/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def ldapservers_samba_domains_get(self, ldapserver_id, id, **kwargs):  # noqa: E501
        """Get Samba Domain  # noqa: E501

        This endpoint returns a specific samba domain for an LDAP server.  ##### Sample Request ``` curl -X GET \\   https://console.jumpcloud.com/api/v2/ldapservers/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \\   -H 'Accept: application/json' \\   -H 'Content-Type: application/json' \\   -H 'x-api-key: {API_KEY}'   ```  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.ldapservers_samba_domains_get(ldapserver_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str id: Unique identifier of the samba domain. (required)
        :param str content_type:
        :param str accept:
        :param str x_org_id: 
        :return: SambaDomainOutput
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.ldapservers_samba_domains_get_with_http_info(ldapserver_id, id, **kwargs)  # noqa: E501
        else:
            (data) = self.ldapservers_samba_domains_get_with_http_info(ldapserver_id, id, **kwargs)  # noqa: E501
            return data

    def ldapservers_samba_domains_get_with_http_info(self, ldapserver_id, id, **kwargs):  # noqa: E501
        """Get Samba Domain  # noqa: E501

        This endpoint returns a specific samba domain for an LDAP server.  ##### Sample Request ``` curl -X GET \\   https://console.jumpcloud.com/api/v2/ldapservers/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \\   -H 'Accept: application/json' \\   -H 'Content-Type: application/json' \\   -H 'x-api-key: {API_KEY}'   ```  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.ldapservers_samba_domains_get_with_http_info(ldapserver_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str id: Unique identifier of the samba domain. (required)
        :param str content_type:
        :param str accept:
        :param str x_org_id: 
        :return: SambaDomainOutput
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ldapserver_id', 'id', 'content_type', 'accept', 'x_org_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ldapservers_samba_domains_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ldapserver_id' is set
        if ('ldapserver_id' not in params or
                params['ldapserver_id'] is None):
            raise ValueError("Missing the required parameter `ldapserver_id` when calling `ldapservers_samba_domains_get`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `ldapservers_samba_domains_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ldapserver_id' in params:
            path_params['ldapserver_id'] = params['ldapserver_id']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']  # noqa: E501
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'x_org_id' in params:
            header_params['x-org-id'] = params['x_org_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['x-api-key']  # noqa: E501

        return self.api_client.call_api(
            '/ldapservers/{ldapserver_id}/sambadomains/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SambaDomainOutput',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def ldapservers_samba_domains_list(self, ldapserver_id, **kwargs):  # noqa: E501
        """List Samba Domains  # noqa: E501

        This endpoint returns all samba domains for an LDAP server.  ##### Sample Request ``` curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains \\   -H 'Accept: application/json' \\   -H 'Content-Type: application/json' \\   -H 'x-api-key: {API_KEY}'   ```  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.ldapservers_samba_domains_list(ldapserver_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str content_type:
        :param str accept:
        :param list[str] fields: The comma separated fields included in the returned records. If omitted, the default list of fields will be returned. 
        :param list[str] filter: Supported operators are: eq, ne, gt, ge, lt, le, between, search, in
        :param int limit: The number of records to return at once. Limited to 100.
        :param int skip: The offset into the records to return.
        :param list[str] sort: The comma separated fields used to sort the collection. Default sort is ascending, prefix with `-` to sort descending. 
        :param str x_org_id: 
        :return: list[SambaDomainOutput]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.ldapservers_samba_domains_list_with_http_info(ldapserver_id, **kwargs)  # noqa: E501
        else:
            (data) = self.ldapservers_samba_domains_list_with_http_info(ldapserver_id, **kwargs)  # noqa: E501
            return data

    def ldapservers_samba_domains_list_with_http_info(self, ldapserver_id, **kwargs):  # noqa: E501
        """List Samba Domains  # noqa: E501

        This endpoint returns all samba domains for an LDAP server.  ##### Sample Request ``` curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains \\   -H 'Accept: application/json' \\   -H 'Content-Type: application/json' \\   -H 'x-api-key: {API_KEY}'   ```  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.ldapservers_samba_domains_list_with_http_info(ldapserver_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str content_type:
        :param str accept:
        :param list[str] fields: The comma separated fields included in the returned records. If omitted, the default list of fields will be returned. 
        :param list[str] filter: Supported operators are: eq, ne, gt, ge, lt, le, between, search, in
        :param int limit: The number of records to return at once. Limited to 100.
        :param int skip: The offset into the records to return.
        :param list[str] sort: The comma separated fields used to sort the collection. Default sort is ascending, prefix with `-` to sort descending. 
        :param str x_org_id: 
        :return: list[SambaDomainOutput]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ldapserver_id', 'content_type', 'accept', 'fields', 'filter', 'limit', 'skip', 'sort', 'x_org_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ldapservers_samba_domains_list" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ldapserver_id' is set
        if ('ldapserver_id' not in params or
                params['ldapserver_id'] is None):
            raise ValueError("Missing the required parameter `ldapserver_id` when calling `ldapservers_samba_domains_list`")  # noqa: E501

        if 'skip' in params and params['skip'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `skip` when calling `ldapservers_samba_domains_list`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'ldapserver_id' in params:
            path_params['ldapserver_id'] = params['ldapserver_id']  # noqa: E501

        query_params = []
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'csv'  # noqa: E501
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
            collection_formats['filter'] = 'csv'  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'skip' in params:
            query_params.append(('skip', params['skip']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
            collection_formats['sort'] = 'csv'  # noqa: E501

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']  # noqa: E501
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'x_org_id' in params:
            header_params['x-org-id'] = params['x_org_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['x-api-key']  # noqa: E501

        return self.api_client.call_api(
            '/ldapservers/{ldapserver_id}/sambadomains', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[SambaDomainOutput]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def ldapservers_samba_domains_post(self, ldapserver_id, **kwargs):  # noqa: E501
        """Create Samba Domain  # noqa: E501

        This endpoint allows you to create a samba domain for an LDAP server.  ##### Sample Request ``` curl -X POST https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains \\   -H 'Accept: application/json' \\   -H 'Content-Type: application/json' \\   -H 'x-api-key: {API_KEY}' \\   -d '{ \"sid\":\"{SID_ID}\", \"name\":\"{WORKGROUP_NAME}\" }' ```  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.ldapservers_samba_domains_post(ldapserver_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param SambaDomainInput body:
        :param str content_type:
        :param str accept:
        :param str x_org_id: 
        :return: SambaDomainOutput
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.ldapservers_samba_domains_post_with_http_info(ldapserver_id, **kwargs)  # noqa: E501
        else:
            (data) = self.ldapservers_samba_domains_post_with_http_info(ldapserver_id, **kwargs)  # noqa: E501
            return data

    def ldapservers_samba_domains_post_with_http_info(self, ldapserver_id, **kwargs):  # noqa: E501
        """Create Samba Domain  # noqa: E501

        This endpoint allows you to create a samba domain for an LDAP server.  ##### Sample Request ``` curl -X POST https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains \\   -H 'Accept: application/json' \\   -H 'Content-Type: application/json' \\   -H 'x-api-key: {API_KEY}' \\   -d '{ \"sid\":\"{SID_ID}\", \"name\":\"{WORKGROUP_NAME}\" }' ```  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.ldapservers_samba_domains_post_with_http_info(ldapserver_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param SambaDomainInput body:
        :param str content_type:
        :param str accept:
        :param str x_org_id: 
        :return: SambaDomainOutput
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ldapserver_id', 'body', 'content_type', 'accept', 'x_org_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ldapservers_samba_domains_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ldapserver_id' is set
        if ('ldapserver_id' not in params or
                params['ldapserver_id'] is None):
            raise ValueError("Missing the required parameter `ldapserver_id` when calling `ldapservers_samba_domains_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ldapserver_id' in params:
            path_params['ldapserver_id'] = params['ldapserver_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']  # noqa: E501
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'x_org_id' in params:
            header_params['x-org-id'] = params['x_org_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['x-api-key']  # noqa: E501

        return self.api_client.call_api(
            '/ldapservers/{ldapserver_id}/sambadomains', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SambaDomainOutput',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def ldapservers_samba_domains_put(self, ldapserver_id, id, **kwargs):  # noqa: E501
        """Update Samba Domain  # noqa: E501

        This endpoint allows you to update the samba domain information for an LDAP server.  ##### Sample Request ``` curl -X PUT https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \\   -H 'Accept: application/json' \\   -H 'Content-Type: application/json' \\   -H 'x-api-key: {API_KEY}' \\   -d '{ \"sid\":\"{SID_ID}\", \"name\":\"{WORKGROUP_NAME}\" }'  ```  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.ldapservers_samba_domains_put(ldapserver_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str id: Unique identifier of the samba domain. (required)
        :param SambaDomainInput body:
        :param str content_type:
        :param str accept:
        :param str x_org_id: 
        :return: SambaDomainOutput
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.ldapservers_samba_domains_put_with_http_info(ldapserver_id, id, **kwargs)  # noqa: E501
        else:
            (data) = self.ldapservers_samba_domains_put_with_http_info(ldapserver_id, id, **kwargs)  # noqa: E501
            return data

    def ldapservers_samba_domains_put_with_http_info(self, ldapserver_id, id, **kwargs):  # noqa: E501
        """Update Samba Domain  # noqa: E501

        This endpoint allows you to update the samba domain information for an LDAP server.  ##### Sample Request ``` curl -X PUT https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/sambadomains/{SAMBA_ID} \\   -H 'Accept: application/json' \\   -H 'Content-Type: application/json' \\   -H 'x-api-key: {API_KEY}' \\   -d '{ \"sid\":\"{SID_ID}\", \"name\":\"{WORKGROUP_NAME}\" }'  ```  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.ldapservers_samba_domains_put_with_http_info(ldapserver_id, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ldapserver_id: Unique identifier of the LDAP server. (required)
        :param str id: Unique identifier of the samba domain. (required)
        :param SambaDomainInput body:
        :param str content_type:
        :param str accept:
        :param str x_org_id: 
        :return: SambaDomainOutput
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ldapserver_id', 'id', 'body', 'content_type', 'accept', 'x_org_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ldapservers_samba_domains_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ldapserver_id' is set
        if ('ldapserver_id' not in params or
                params['ldapserver_id'] is None):
            raise ValueError("Missing the required parameter `ldapserver_id` when calling `ldapservers_samba_domains_put`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `ldapservers_samba_domains_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'ldapserver_id' in params:
            path_params['ldapserver_id'] = params['ldapserver_id']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'content_type' in params:
            header_params['Content-Type'] = params['content_type']  # noqa: E501
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501
        if 'x_org_id' in params:
            header_params['x-org-id'] = params['x_org_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['x-api-key']  # noqa: E501

        return self.api_client.call_api(
            '/ldapservers/{ldapserver_id}/sambadomains/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SambaDomainOutput',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
